<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-center">Add Sprint</h3>
	</div>
	<div class="panel-body">
		<form role="form" ng-submit="addSprint()">
	  			<div class="form-group">
	    			<label for="title">Title</label>
	    			<input type="text" class="form-control" id="title" ng-model="sprintTitle" required>
	  			</div>
	  			<div class="form-group">
	    			<label for="startDate">Start Date</label>
	    			<input type="date" class="form-control" id="startDate" ng-model="startDate" required>
	  			</div>
	  			<div class="form-group">
	    			<label for="endDate">End Date</label>
	    			<input type="date" class="form-control" id="endDate" ng-model="endDate" required>
	  			</div>

	  			<div class="form-group" ng-repeat="member in teamMembersObject track by $index">
	  				<label>Team Member {{$index + 1}} Email</label>
	  				<div class="row">
	  					<div class="col-md-11">
	  						<input type="text" class="form-control" ng-model="member.email">
	  					</div>
	  					<div class="col-md-1">
	  						<i class="material-icons clickable" ng-click="removeMemberField($index)">delete</i>
	  					</div>
	  				</div>
	  			</div>
				<i class="material-icons clickable" ng-click="addMemberField()">add</i>

		  		<div class="form-group">
	    			<label for="storyData">Upload Stories</label>
	    			<div class="button btn" ngf-select ng-model="storyData" id="storyData">Select</div>
	    			{{storyData.name}}
	  			</div>

	  			<div class="form-group">
	  				<button type="submit" class="btn btn-raised btn-success">Add</button>
	  			</div>
		</form>
	</div>
</div>