<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Review Stories</h3>
	</div>

	<div class="panel-body">
		<h4 class="text-center">{{iterationTitle}}</h4>
		<h5 class="text-center">Start Date: {{startDate}}</h5>
		<h5 class="text-center">End Date: {{endDate}}</h5>

		<div ng-show="isOwner">
			<form role="form" ng-submit="confirmStories()">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="(storyId, value) in workingStories">
						<input type="text" class="form-control" id="title" ng-model="value.title">
					</li>
				</ul>
				<button type="submit" class="btn btn-success">Confirm</button>
			</form>
		</div>
		<div ng-hide="isOwner">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="(storyId, value) in workingStories">
					{{value.title}}
					<hr>
				</li>
			</ul>
		</div>
	</div>
</div>