<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Review Tasks</h3>
	</div>

	<div class="panel-body">

		<h4 class="text-center">{{iterationTitle}}</h4>
		<h5 class="text-center">{{startDate}}</h5>
		<h5 class="text-center">{{endDate}}</h5>

		<h3 class="text-center">{{storyTitle}}</h3>

		<div ng-show="isOwner">
			<form role="form" ng-submit="confirmTasks()">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="(taskId, value) in workingTasks">
						<input type="text" class="form-control" id="title" ng-model="value.title">
					</li>
				</ul>
				<button type="submit" class="btn btn-success">Confirm</button>
			</form>
		</div>
		<div ng-hide="isOwner">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="(taskId, value) in workingTasks">
					{{value.title}}
				</li>
			</ul>
		</div>
	</div>
</div>