<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Sign Up</h3>
	</div>
	<div class="panel-body">
		<form ng-submit="signUp()">
		  <fieldset class="form-group">
		    <label for="firstName">First Name</label>
		    <input class="form-control" id="firstName" placeholder="Enter first name" ng-model="firstName">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="lastName">Last Name</label>
		    <input class="form-control" id="lastName" placeholder="Enter last name" ng-model="lastName">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="email">Email address</label>
		    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
		  </fieldset>
		  <button type="submit" class="btn btn-primary">Sign Up</button>
		</form>
	</div>
</div>