<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Story Estimation</h3>
	</div>
	<div class="panel-body">

		<h3 class="text-center">{{iterationTitle}}</h3>
		<h4 class="text-center">{{startDate}}</h4>
		<h4 class="text-center">{{endDate}}</h4>
		<hr>
		<h3 class="text-center">Story: {{storyTitle}}</h3>

		<div ng-show="isOwner">
			<button ng-show="polling" class="btn btn-success" ng-click="resetPolling()">Restart Polling</button>
			<button ng-show="polling" class="btn btn-success" ng-click="endPolling()">Stop Polling</button>
		</div>
		
		<div ng-hide="isOwner">
			<ul class="list-group" ng-show="polling">
				<li class="list-group-item" ng-repeat="(taskId, value) in tasks">
					{{value.title}}	
				</li>
			</ul>
		</div>

		<div ng-hide="isOwner">
			<form role="form" ng-show="polling">
	  			<div class="form-group">
	    				<label for="small">Small</label>
	    				<input type="radio" class="form-control" id="small" value="1" ng-model="userEstimate">
	
	    				<label for="medium">Medium</label>
	    				<input type="radio" class="form-control" id="medium" value="2" ng-model="userEstimate">


	    				<label for="large">Large</label>
	    				<input type="radio" class="form-control" id="large" value="3" ng-model="userEstimate">
	

	    				<label for="xl">Extra Large</label>
	    				<input type="radio" class="form-control" id="xl" value="4" ng-model="userEstimate">
	    
	  			</div>
			</form>
		</div>

	</div>
</div>