<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Overview</h3>
	</div>

	<div class="panel-body">
		<h3 class="text-center">{{iterationTitle}}</h3>
		<h4 class="text-center">Start Date: {{startDate}}</h4>
		<h4 class="text-center">End Date: {{endDate}}</h4>

		<div>
			<ul>
				<li class="list-group-item" ng-repeat="(storyId, value) in stories">
				<div class="row">
					<div class="col-md-10">
						{{value.title}}
						<ul ng-show="value.tasks">
							<li ng-repeat="(taskId, task) in value.tasks">
								{{task.title}}
							</li>
						</ul>
					</div>
					<div class ="col-md-1" ng-show="value.estimation">
						Size: {{value.estimation}}
					</div>
					<div class="col-md-1" ng-show="isOwner">
						<button ng-hide="value.finishedEstimationReview" type="submit" class="btn btn-success" ng-click="startPolling(storyId)">Start Polling</button>
					</div>
				</div>
				</li>
			</ul>
		</div>
	</div>

</div>